<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <center>
        <h1 style="background-color:powderblue;">
            My Blog
        </h1>
        <input type=button onClick="location.href='/'"
               value='Home'>
    </center>
</head>
<body>
<form action = "enterNewPost" method = "get">
    Enter new blog here:
    <br>
    <center><textarea rows = "20" cols = "100" name = "description">
         </textarea>
        <br>
    <input type = "submit" value = "Submit" />
    </div>
    </div></center>

</form>
</body>
</html>