<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<h1>This is my blog</h1>
<body><div class="row m-4 border border-dark">
    <div class="col text-center m-3">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Post ID</th>
                <th>Content</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="post : ${getPosts}">
                <td th:text="${post.postid}"></td>
                <td th:text="${post.content}"></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>